section{
    overflow: auto;
}
.div1{
    background-color: rgb(242, 71, 162);
    height: 150px;
    margin-bottom: 16px;
}
.div2{
    background-color: rgb(235, 69, 125);
    height: 400px;
    width: 68%;
    float: left;
}
.div3{
    background-color: rgb(161, 20, 67);
    height: 400px;
    width: 31%;
    float: right;
}
.div4{
    background-color: rgb(73, 42, 55);
    height: 150px;
    clear: both;
    margin-top: 16px;
    /*margin-top: 430px;*/ /*If you enable this line then remove or make comment these two lines => line number 2(Overflow:auto) and 25(margin-top:16px)*/
}